.page-template-page-contact{

    .entry-title{
        display:none;
    }

    .contact-hero{
        background:
        url('../../images/contact-background.jpg')no-repeat center;
        background-size:cover;
        height:100vh;
        width:100vw;
            @include desktop{
                background-size:contain;
                height:120vh;
            }
            h1{
                font-size: 23vw;
                text-transform: uppercase;
                font-family: latoheavy;
                color: #000;
                margin-bottom:0;
                text-align: center;
                margin-top: 0;
                text-align: center;
                text-shadow:none;
                    @include desktop{
                        color:$main__color;
                        text-shadow: 0px 0px 10px #000;
                        font-size:16vw;
                    }
            }
            h3{
                color:$main__color;
                background-color: transparent;
                text-align: center;
                background-color:rgba(0,0,0,.4);
                font-family:montserratmedium;
                padding: 3rem 4vw;
            }
    }

    .button-container{
        width:100vw;
        display:flex;
        justify-content:center;
            a{
                text-decoration: none;
                width: 200px;
                border: 3px solid #000;
                height: 55px;
                font-size:1.4rem;
                justify-content: center;
                align-items: center;
                display: flex;
                text-transform: uppercase;
                color:#000;
                font-family:'latobold';
                transition:all 0.4s linear;
                margin:6.5vh;
                    &:hover{
                        background-color:#000;
                        color:$main__color;
                    }
            }
    }

    //Contact Form

    .entry-title{
        margin:0;
        color: #fff;
        font-size: 14vw;
        text-align: center;
        padding-top: 15vw;
        text-transform: uppercase;
        font-family:'latoheavy';
        letter-spacing:3px;
            @include desktop{
                padding-top:6vw;
            }
    }

    .entry-title:before{
        content: "";
        position: relative;
        bottom: 0;
        height: 1px;
        width: 30px;
        border-bottom: 3.4px solid #74b564;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        border-radius: 2px;
        margin: 0 auto;
            @include desktop{
                width:150px;
            }
    }

    .contact-section{
        background:#10131A;
    }

    article{
        display:inline-block
    }

    form{
        display: -ms-flexbox;
        @include flex-column;
        -ms-flex-direction: column;
        -ms-flex-align: center;
        align-items: flex-start;
        margin-top: 17vw;
        width: 100vw;
        margin-left: 4vw;
            @include desktop{
                margin-top:2vw;
            }
            input{
                width:80vw;
            }
            label{
                color:$main__color;
                font-size: 23px;
                text-transform: uppercase;
                font-family:'montserratmedium';
            }
    }

    .wpcf7-submit{
        border:3px solid #fff;
        box-shadow:none;
        font-size: 20px;
        font-family:'latoheavy';
        text-transform:uppercase;
        text-shadow:none;
        color:#fff;
        background:#000;
        transition:all 0.4s linear;
        max-width: 150px;
            &:hover{
                box-shadow:none;
                color:$main__color;
                border:3px solid $main__color;
            }
    }

    .contact-social-media-container{
        z-index: 2000;
        position: absolute;
        top: 0;
        width: 24vw;
        font-size: 1.4rem;
        margin-left: 3vw;
            i{
                color:$main__color;
                transition:all 0.4s linear;
                    &:hover{
                        font-size:1.7rem;
                        color:$accent__color;
                    }
            }
            @include desktop{
                margin-top:1rem;
            }
    }

    .fixed-header{
        visibility: hidden;
    }

    textarea{
        width:80vw;
    }

    .send-container{
        display: flex;
        align-items: center;
        margin-bottom: 6rem;
            i{
                color:#fff;
                font-size:8vw;
            }
    }

    .white-logo{
        margin:0;
    }

    //Send Plane animation

    .plane-move{
        animation:plane 2.5s ease-in-out;
    }

    @keyframes plane{
        0%{
            transform:translate(0px,0px);
        }
        50%{
            transform:translate(20px,-20px);
        }
        100%{
            transform:translate(120vw,-20rem);
            color:#fff;
        }
    }

 

}//Contact Page Wrapper