/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/



@font-face {
    font-family: 'latoblack_italic';
    src: url('../../fonts/lato-blackitalic-webfont.eot');
    src: url('../../fonts/lato-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/lato-blackitalic-webfont.woff2') format('woff2'),
         url('../../fonts/lato-blackitalic-webfont.woff') format('woff'),
         url('../../fonts/lato-blackitalic-webfont.svg#latoblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latobold';
    src: url('../../fonts/lato-bold-webfont.eot');
    src: url('../../fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/lato-bold-webfont.woff2') format('woff2'),
         url('../../fonts/lato-bold-webfont.woff') format('woff'),
         url('../../fonts/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latobold_italic';
    src: url('../../fonts/lato-bolditalic-webfont.eot');
    src: url('../../fonts/lato-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/lato-bolditalic-webfont.woff2') format('woff2'),
         url('../../fonts/lato-bolditalic-webfont.woff') format('woff'),
         url('../../fonts/lato-bolditalic-webfont.svg#latobold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latoheavy';
    src: url('../../fonts/lato-heavy-webfont.eot');
    src: url('../../fonts/lato-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/lato-heavy-webfont.woff2') format('woff2'),
         url('../../fonts/lato-heavy-webfont.woff') format('woff'),
         url('../../fonts/lato-heavy-webfont.svg#latoheavy') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latoitalic';
    src: url('../../fonts/lato-italic-webfont.eot');
    src: url('../../fonts/lato-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/lato-italic-webfont.woff2') format('woff2'),
         url('../../fonts/lato-italic-webfont.woff') format('woff'),
         url('../../fonts/lato-italic-webfont.svg#latoitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latolight';
    src: url('../../fonts/lato-light-webfont.eot');
    src: url('../../fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/lato-light-webfont.woff2') format('woff2'),
         url('../../fonts/lato-light-webfont.woff') format('woff'),
         url('../../fonts/lato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latolight_italic';
    src: url('../../fonts/lato-lightitalic-webfont.eot');
    src: url('../../fonts/lato-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/lato-lightitalic-webfont.woff2') format('woff2'),
         url('../../fonts/lato-lightitalic-webfont.woff') format('woff'),
         url('../../fonts/lato-lightitalic-webfont.svg#latolight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latomedium';
    src: url('../../fonts/lato-medium-webfont.eot');
    src: url('../../fonts/lato-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/lato-medium-webfont.woff2') format('woff2'),
         url('../../fonts/lato-medium-webfont.woff') format('woff'),
         url('../../fonts/lato-medium-webfont.svg#latomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latomedium_italic';
    src: url('../../fonts/lato-mediumitalic-webfont.eot');
    src: url('../../fonts/lato-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/lato-mediumitalic-webfont.woff2') format('woff2'),
         url('../../fonts/lato-mediumitalic-webfont.woff') format('woff'),
         url('../../fonts/lato-mediumitalic-webfont.svg#latomedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latoregular';
    src: url('../../fonts/lato-regular-webfont.eot');
    src: url('../../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../../fonts/lato-regular-webfont.woff') format('woff'),
         url('../../fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'montserratextralight';
    src: url('../../fonts/montserrat-extralight-webfont.eot');
    src: url('../../fonts/montserrat-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/montserrat-extralight-webfont.woff2') format('woff2'),
         url('../../fonts/montserrat-extralight-webfont.ttf') format('truetype'),
         url('../../fonts/montserrat-extralight-webfont.svg#montserratextralight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratlight';
    src: url('../../fonts/montserrat-light-webfont.eot');
    src: url('../../fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('../../fonts/montserrat-light-webfont.ttf') format('truetype'),
         url('../../fonts/montserrat-light-webfont.svg#montserratlight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratmedium';
    src: url('../../fonts/montserrat-medium-webfont.eot');
    src: url('../../fonts/montserrat-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/montserrat-medium-webfont.woff2') format('woff2'),
         url('../../fonts/montserrat-medium-webfont.ttf') format('truetype'),
         url('../../fonts/montserrat-medium-webfont.svg#montserratmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratregular';
    src: url('../../fonts/montserrat-regular-webfont.eot');
    src: url('../../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../../fonts/montserrat-regular-webfont.ttf') format('truetype'),
         url('../../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratthin';
    src: url('../../fonts/montserrat-thin-webfont.eot');
    src: url('../../fonts/montserrat-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/montserrat-thin-webfont.woff2') format('woff2'),
         url('../../fonts/montserrat-thin-webfont.ttf') format('truetype'),
         url('../../fonts/montserrat-thin-webfont.svg#montserratthin') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserrat_alternatesXLt';
    src: url('../../fonts/montserratalternates-extralight-webfont.eot');
    src: url('../../fonts/montserratalternates-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/montserratalternates-extralight-webfont.woff2') format('woff2'),
         url('../../fonts/montserratalternates-extralight-webfont.ttf') format('truetype'),
         url('../../fonts/montserratalternates-extralight-webfont.svg#montserrat_alternatesXLt') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserrat_alternateslight';
    src: url('../../fonts/montserratalternates-light-webfont.eot');
    src: url('../../fonts/montserratalternates-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/montserratalternates-light-webfont.woff2') format('woff2'),
         url('../../fonts/montserratalternates-light-webfont.ttf') format('truetype'),
         url('../../fonts/montserratalternates-light-webfont.svg#montserrat_alternateslight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserrat_alternatesmedium';
    src: url('../../fonts/montserratalternates-medium-webfont.eot');
    src: url('../../fonts/montserratalternates-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/montserratalternates-medium-webfont.woff2') format('woff2'),
         url('../../fonts/montserratalternates-medium-webfont.ttf') format('truetype'),
         url('../../fonts/montserratalternates-medium-webfont.svg#montserrat_alternatesmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserrat_alternatesregular';
    src: url('../../fonts/montserratalternates-regular-webfont.eot');
    src: url('../../fonts/montserratalternates-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/montserratalternates-regular-webfont.woff2') format('woff2'),
         url('../../fonts/montserratalternates-regular-webfont.ttf') format('truetype'),
         url('../../fonts/montserratalternates-regular-webfont.svg#montserrat_alternatesregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserrat_alternatesthin';
    src: url('../../fonts/montserratalternates-thin-webfont.eot');
    src: url('../../fonts/montserratalternates-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/montserratalternates-thin-webfont.woff2') format('woff2'),
         url('../../fonts/montserratalternates-thin-webfont.ttf') format('truetype'),
         url('../../fonts/montserratalternates-thin-webfont.svg#montserrat_alternatesthin') format('svg');
    font-weight: normal;
    font-style: normal;

}