.home{

    #page{
        overflow-x:hidden;
    }

    .hero-background{
        background:linear-gradient( to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100% ), url(../../images/chair-background.jpg);
        background-repeat: no-repeat,no-repeat;
        background-size: cover,cover;
        width: 100%;
        height: 100vh;
        position: absolute;
    }

    .hero-container{
        width:100%;
        height: 100vh;
        position:relative;
            .animation-paragraph-container{
                position:absolute;
                top:8rem;
                z-index:10;
            }
    }

    .video-background{
        height:500px;
    }

    .menu-toggle{
        display:none;
    }

    //Slot Roll Animation

    

    // .content {
    // position: absolute;
    // top: 80%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // font-size: 35px;
    // line-height: 40px;
    // letter-spacing: 2px;
    // color: #ecf0f1;
    // height: 160px;
    // overflow: hidden;
    // }

    // .visible {
    // font-weight: 600;
    // overflow: hidden;
    // height: 40px;
    // padding: 0 40px;
    // &:before {
    //     content: '[';
    //     left: 0;
    // }
    // &:after {
    //     content: ']';
    //     right: 0;
    // }
    // &:after,
    // &:before {
    //     position: absolute;
    //     top: 0;
    //     color: #16a085;
    //     font-size: 42px;
    //     animation-name: opacity;
    //     animation-duration: 1.5s;
    //     animation-iteration-count: infinite;
    // }
    // }

    // .slot-list {
    // display: inline-block;
    // margin: 0;
    // text-align: left;
    // list-style: none;
    // animation-name: change;
    // animation-duration: 15s;
    // animation-iteration-count: infinite;
    // li {
    //     line-height: 40px;
    //     margin: 0;
    // }
    // }

    // @keyframes opacity {
    // 0%,
    // 100% {
    //     opacity: 0;
    // }
    // 50% {
    //     opacity: 1;
    // }
    // }

    // @keyframes change {
    // 0%,
    // 12%,
    // 100% {
    //     transform: translateY(0);
    // }
    // 17%,
    // 29% {
    //     transform: translateY(-25%);
    // }
    // 34%,
    // 46% {
    //     transform: translateY(-50%);
    // }
    // 51%,
    // 63% {
    //     transform: translateY(-75%);
    // }
    // 68%,
    // 80% {
    //     transform: translateY(-50%);
    // }
    // 85%,
    // 97% {
    //     transform: translateY(-25%);
    // }
    // }


    //Heading Animation

    .header-animation{
        position: relative;
        width: 100%;
        margin: auto;
        perspective: 800px;
        z-index: 1;
        font-family: latobold;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
    }

    .typing-container{
        position:absolute;
        top:5rem;
    }

    .element, .element2 {
        display: inline-block;
        color: #fff;
        font-size: 10vw;
        transform-origin: 50% 70%;
        text-align:center;
        @include main-text-shadow;
        font-family:'latoblack'
    }

    .element2{
        display: flex;
        justify-content: center;
        color:$main__color;
        opacity:0;
        animation:fade-header 2s linear 5s;
        animation-fill-mode:forwards;
    }

    @keyframes fade-header{
        from{
            opacity:0;
        }
        to{
            opacity:1;
        }
    }

//Social Media Section

.social-media-container{
    background-color:#353535;
    display:flex;
    justify-content: space-around;
        li{
            margin-bottom:0.5rem;
        }
}

/* Wrapper */
.icon-button {
	background-color: transparent;
	border-radius: 2.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 1.3rem;
	height: 2.6rem;
	line-height: 2.6rem;
	margin: 0 5px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 2.6rem;
}

/* Circle */
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 2.6rem;
	height: 2.6rem;
	border-radius: 2.6rem;
	margin: -1.3rem;
}

/* Icons */
.icon-button i {
	background: none;
	color: white;
	height: 2.6rem;
	left: 0;
	line-height: 2.6rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 2.6rem;
	z-index: 10;
}





.twitter span {
	background-color: #4099ff;
}
.facebook span {
	background-color: #3B5998;
}
.google-plus span {
	background-color: #db5a3c;
}
.tumblr span {
	background-color: #34526f;
}
.instagram span {
	background-color: #517fa4;
}
.youtube span {
	background-color: #bb0000;
}
.pinterest span {
	background-color: #cb2027;
}



.icon-button .icon-twitter {
	color: #4099ff;
}
.icon-button .icon-facebook {
	color: #3B5998;
}
.icon-button .fa-tumblr {
	color: #34526f;
}
.icon-button .icon-google-plus {
	color: #db5a3c;
}
.icon-button .fa-instagram {
	color: #517fa4;
}
.icon-button .fa-youtube {
	color: #bb0000;
}
.icon-button .fa-pinterest {
	color: #cb2027;
}




.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .icon-google-plus,
.icon-button:hover .fa-tumblr,
.icon-button:hover .fa-instagram,
.icon-button:hover .fa-youtube,
.icon-button:hover .fa-pinterest {
	color: white;
}





//Work Section

    .work-section{
        z-index: 100;
        position: relative;
        text-align: center;
        position:relative;
        height:auto;
        background-color:#353535;
    }


    .section-header{
        font-family:'latoblack';
        font-size: 3rem;
        margin-top: 0;
        letter-spacing:2px;
        text-align:center;
        position:relative;
        color: rgba(0,0,0,0.6);
        text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
        margin-bottom: 0;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        background-color: #2D3C40;
    }

    //Project Slider


    .project-title{
        text-transform: uppercase;
        width: 80%;
        position: absolute;
        top: 55%;
        font-family: abril;
        color: #fdcd3b;
        z-index: 100;
        left: 2px;
        transition: background-color .4s linear;
        font-size: 2rem;
        text-shadow: 0 0 1px #fff;
        letter-spacing: 2px;
        text-align: left;
        padding-left: 0.5rem;
    }

    .project-image{
        height: 212px;
        position:relative;
        img{
            height:100%;
        }
    }

    .project-gradient{
        background: linear-gradient(180deg,rgba(76, 72, 72, 0.25) 0,rgba(117, 117, 152, 0.5));
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 100;
    }


    .project-list{ 
        overflow-y: hidden;
        margin-bottom:3rem;
            li{
                position:relative;
            }
    }

    .project-item{
        cursor:pointer;
    }

    .project-item:hover{
        .project-hover{
            height:100%;
        }
        .project-title{
            background-color:#fff;
            left:2px;
        }
    }

    .project-hover{
        position: absolute;
        bottom: 0;
        background-color: rgba(0,0,0,0.8);
        height: 0;
        transition: height 0.4s ease-in-out;
        width:100%;
        padding:0 1rem;
    }


    .portfolio-button, .contact-button{
        text-decoration: none;
        text-transform: uppercase;
        border: 2px solid #fff;
        padding: 0.5rem 2rem;
        z-index:100;
        position: relative;
        color:$main__color;
        font-family:'latobold';
        transition:all 0.3s linear;
          &:hover{
                border-radius:25px;
                background-color:$main__color;
                color:#000;
                border:none;

            }
    }

    .portfolio-button{
        bottom: 1.5rem;
    }


    //About Section

    .about-section{
        position: relative;
        height: 100vh;
        max-height: 40rem;
        background-color: #353535;
        z-index: -10;
        background:url("../../images/coffee-background.jpg")no-repeat;
        background-size:cover;
    }

    .project-content{
        color:#fff;
        font-family:montserrat_alternatesXLt;
    }
        
    // .about-background{
    //     width:100vw;
    //     height:auto;
    //     z-index: -2;
    //     max-height: 480px;
    // }

    .text-gradient{
        background-color: #353535;
        width: 95vw;
        height: 98%;
        opacity: .7 !important;
        position: absolute;
        max-height: 555px;
        z-index:-1;
        top:0;
        border:2px solid $main__color;
    }

    .about-text{
        position: relative;
        margin-left: 1rem;
        width:87vw;
        color:#fff;
        font-family:montserratextralight;
        padding: 1rem 0;
    }

    //Expertise Section

    .expertise-section{
        background-color: #000;
    }

    .full-logo-container{
        padding-top:3rem;
        background: linear-gradient( to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.7) 100% ),
        url('../../images/computer-background.png')no-repeat center;
        background-size:cover,cover;
    }

    .logo-container{
        display:flex;
        flex-direction:column;
        align-items:center;
        i{
            color:#fdcd3b;
            font-size:4rem;
        }
        h2{
            margin-top:1rem;
            text-transform:uppercase;
            font-family:'latobold';
            color:#fff;
        }
        p{
            text-align: center;
            color:#fff;
            padding: 0 1rem;
            font-family:montserratextralight;
        }
    }

//Contact Section


    .contact-section{
        background: linear-gradient( to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 100% ),
        url('../../images/abstract-background.jpg')no-repeat center;
        background-size:cover,cover;
        height:100vh;
    }

    .contact-content-container{
            p{
                font-family:'montserratthin';
                color:#fff;
                margin-bottom:0;
                text-align:center;
                padding:0 1rem;
            }
    }

    .contact-heading{
        color:$main__color;;
        text-align:center;
        font-family:'latobold';
        font-size:2rem;
        margin-top:1.5rem;
        margin-bottom:1rem;
    }

    .contact-button-container{
        text-align:center;
    }

    .contact-button{
        bottom:-12vh;
    }
    

}//Home Wrapper