.home{

    #page{
        overflow-x:hidden;
    }

    .hero-background{
        background: url(../../images/hero-background.jpg) no-repeat 0;
        background-size: 100%;
        width: 100%;
        height: 455px;
        position: absolute;
        filter: contrast(109%);
        box-shadow: inset 0 27px 14rem -2rem #fff;
    }

    .hero-container{
        width:100%;
        height:400px;
        position:relative;
            .animation-paragraph-container{
                position:absolute;
                top:8rem;
                z-index:10;
            }
    }

    .video-background{
        height:500px;
    }

    .menu-toggle{
        display:none;
    }


    //Heading Animation

    .header-animation{
        position: absolute;
        width: 100%;
        margin: auto;
        text-align: left;
        perspective: 800px;
        min-width: 320px;
        z-index: 1;
        font-family: latobold;
        margin-left: 5%;
    }

    span {
        display: inline-block;
        color: #000;
        font-size: 1.9rem;
        transform-origin: 50% 70%;
    }

    br {
        display: none;
    }


/* Every second span */

    span:nth-child(2n) {
        color: #000;
    }

    span:nth-child(1) {
        animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) .2s both;
    }

    span:nth-child(2) {
        animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55).4s both;
    }

     .edward:nth-child(2) {
        animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55)2.2s both;
    }

    span:nth-child(3) {
        animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55).6s both;
    }

    span:nth-child(4) {
        animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) .8s both;
    }

    span:nth-child(5) {
        animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1s both;
        display: inline-block;
    }

    span:nth-child(6) {
    animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.2s both;
    }

    span:nth-child(7) {
    animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.4s both;
    }

    span:nth-child(8) {
    animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.6s both;
    }

    span:nth-child(9) {
    animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.6s both;
    }

    span:nth-child(10) {
    animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.8s both;
    }

    span:nth-child(11) {
    animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 2s both;
    }


    /* ANIMATION */

    @keyframes flipUp {
    from {
        transform: rotateX(90deg);
    }
    to {
        transform: rotateX(0deg);
    }
    }


    /* RESPONSIVE STUFF */

    @media screen and (min-width: 400px) {
    span {
        font-size: 2.5rem;
    }
    span:nth-child(5) {
        margin: 0;
    }
    }

    @media screen and (min-width: 600px) {
    span {
        font-size: 5em;
    }
    span:nth-child(5) {
        margin: 0;
    }
    }

    @media screen and (min-width: 916px) {
    span {
        font-size: 6.2em;
    }
    span:nth-child(5) {
        display: inline-block;
        margin: 0;
        
    }
    }

//Text-animation
    .hero-paragraph-container{
        position: relative;
        z-index: 2;
        width: 100vw;
        display: -ms-flexbox;
        -ms-flex-pack: center;
        animation: fadein 3.5s ease-in 1s;
        animation-fill-mode: forwards;
        bottom: 25px;
        opacity:0;
            p{
                font-size: 2rem;
                text-align: left;
                color:#628ef5;
                text-transform:uppercase;
                font-family:'abril';
            }
    }

    @keyframes fadein{
        from{
            opacity:0;
        }
        to{
            opacity:1;
        }
    }
    

//Work Section

    .work-section{
        z-index: 100;
        position: relative;
        text-align: center;
        position:relative;
        margin-top:2rem;
        height:auto;
    }


    .section-header{
        font-family:'abril';
        font-size: 3rem;
        margin-top: 0;
        color: #000;
        letter-spacing:7px;
        text-align:center;
    }

    .fadein{
        opacity:0;
    }

    .header-bar{
        width: 200px;
        height: 20px;
        background-color: #205def;
        position: absolute;
        top: 38px;
        opacity: 0.6;
        left: 20px;
        z-index: -10;
    }

    //Project Slider


    .project-title{
        text-transform: uppercase;
        background-color: rgba(0,0,0,0.7);
        width: 230px;
        position: absolute;
        top: 55%;
        font-family: abril;
        color: #fdcd3b;
        z-index: 100;
        transition:background-color 0.4s linear;

    }

    .project-image{
        img{
            height:180px;
        }
    }

    .project-list{
        padding:0 1rem;
        overflow-y: hidden;
            li{
                position:relative;
            }
    }

    .project-item{
        cursor:pointer;
    }

    .project-item:hover{
        .project-hover{
            height:100%;
        }
        .project-title{
            background-color:#fff;
        }
    }

    .project-hover{
        position: absolute;
        bottom: 0;
        background-color: rgba(0,0,0,0.8);
        height: 0;
        transition: height 0.4s ease-in-out;
        width:100%;
        padding:0 1rem;
    }

    //About Section

    .about-section, .expertise-section{
        position:relative;
        height:auto;
        margin-top:3rem;
    }

    .project-content{
        color:#fff;
        font-family:montserrat_alternatesXLt;
    }
        
    .about-background{
        background:url("../../images/responsive-background.jpg")no-repeat;
        background-size:contain;
        width:100vw;
        height:auto;
        position:relative;
        z-index: -2;
    }

    .text-gradient{
        background-color: #000;
        width: 95vw;
        height: 105%;
        opacity: .7;
        position: absolute;
        top: 4rem;
        max-height: 555px;
        z-index:-1;
    }

    .about-text{
        position: relative;
        top: 4rem;
        margin-left: 1rem;
        width:87vw;
        color:#fff;
        font-family:montserratextralight;
        padding: 1rem 0;
    }

    //Expertise Section

    .expertise-header{
        margin-top: 5rem;
    }

    .logo-container{
        display:flex;
        flex-direction:column;
        align-items:center;
        i{
            color:#fdcd3b;
            font-size:4rem;
        }
        h2{
            margin-top:0;
            text-transform:uppercase;
            font-family:'latobold';
        }
    }

    .portfolio-button{
        text-decoration: none;
        text-transform: uppercase;
        border: 2px solid #fdcd3b;
        padding: 0.5rem 2rem;
        z-index:100;
    }

    

}//Home Wrapper