.home{

    #page{
        overflow-x:hidden;
    }

    .hero-container{
        width:100%;
        height:500px;
        position:relative;
            .animation-paragraph-container{
                position:absolute;
                top:8rem;
                z-index:10;
            }
    }

    .hero-gradient{
        position: absolute;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.5;
    }

    .video-background{
        height:500px;
    }

    .menu-toggle{
        display:none;
    }


    .edward-header{
        color:#fff;
    }

    //Heading Animation

    .header-animation{
        position:absolute;
        width: 100%;
        margin: auto;
        text-align: center;
        perspective: 800px;
        min-width: 320px;
        margin-top: 4em;
        z-index:10;
    }

    span {
        display: inline-block;
        color: #fff;
        font-size: 2rem;
        transform-origin: 50% 70%;
    }

    br {
        display: none;
    }


/* Every second span */

    span:nth-child(2n) {
        color: #fff;
    }

    span:nth-child(1) {
        animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) .2s both;
    }

    span:nth-child(2) {
        animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55).4s both;
        padding-right:20px;
    }

    span:nth-child(3) {
        animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55).6s both;
    }

    span:nth-child(4) {
        animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) .8s both;
        padding-right:20px;
    }

    span:nth-child(5) {
        animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1s both;
        display: inline-block;
    }

    span:nth-child(6) {
    animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.2s both;
    }

    span:nth-child(7) {
    animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.4s both;
    }

    span:nth-child(8) {
    animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.6s both;
    }

    span:nth-child(9) {
    animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.6s both;
    }

    span:nth-child(10) {
    animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.8s both;
    }

    span:nth-child(11) {
    animation: flipUp 1s cubic-bezier(0.68, -0.55, 0.26, 1.55) 2s both;
    }


    /* ANIMATION */

    @keyframes flipUp {
    from {
        transform: rotateX(90deg);
    }
    to {
        transform: rotateX(0deg);
    }
    }


    /* RESPONSIVE STUFF */

    @media screen and (min-width: 400px) {
    span {
        font-size: 2.5rem;
    }
    span:nth-child(5) {
        margin: 0;
    }
    }

    @media screen and (min-width: 600px) {
    span {
        font-size: 5em;
    }
    span:nth-child(5) {
        margin: 0;
    }
    }

    @media screen and (min-width: 916px) {
    span {
        font-size: 6.2em;
    }
    span:nth-child(5) {
        display: inline-block;
        margin: 0;
        
    }
    }

    //Text-animation
    .page-hero {
        height: 200px;
        overflow: hidden;
        position: absolute;
        width: 100%;
        top: 8rem;
        z-index:10;
}

    .page-hero h1 {
        animation:
        slideUp 0.75s 3s cubic-bezier(0.17,.88,.32,1.27) both,
        fadeIn .25s .5s ease-in both;
        padding: 0 20px;
        position: absolute;
        text-align: center;
        top: 50%;
        width: 100%;
        color:#fff;
    }

    @keyframes slideUp {
        from {transform: translateY(200%);}
        to {transform:translateY(-50%);}
    }

    @keyframes fadeIn {
        from {opacity: 0;}
        to {opacity: 1;}
    }

    .nav-list{
        list-style:none;
        padding:0;
        position: absolute;
        bottom: 0;
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

//About Section

    .section-heading{
        margin-left:10%;
    }

    //Header

    

    

}//Home Wrapper