.home{

    #page{
        overflow-x:hidden;
    }

    .hero-background{
        background:linear-gradient( to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100% ), url(../../images/chair-background.jpg);
        background-repeat: no-repeat,no-repeat;
        background-size: cover,cover;
        width: 100%;
        height: 100vh;
        position: absolute;
    }

    .hero-container{
        width:100%;
        height: 100vh;
        position:relative;
            .animation-paragraph-container{
                position:absolute;
                top:8rem;
                z-index:10;
            }
    }

    .video-background{
        height:500px;
    }

    .menu-toggle{
        display:none;
    }

    //Slot Roll Animation

    

    // .content {
    // position: absolute;
    // top: 80%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // font-size: 35px;
    // line-height: 40px;
    // letter-spacing: 2px;
    // color: #ecf0f1;
    // height: 160px;
    // overflow: hidden;
    // }

    // .visible {
    // font-weight: 600;
    // overflow: hidden;
    // height: 40px;
    // padding: 0 40px;
    // &:before {
    //     content: '[';
    //     left: 0;
    // }
    // &:after {
    //     content: ']';
    //     right: 0;
    // }
    // &:after,
    // &:before {
    //     position: absolute;
    //     top: 0;
    //     color: #16a085;
    //     font-size: 42px;
    //     animation-name: opacity;
    //     animation-duration: 1.5s;
    //     animation-iteration-count: infinite;
    // }
    // }

    // .slot-list {
    // display: inline-block;
    // margin: 0;
    // text-align: left;
    // list-style: none;
    // animation-name: change;
    // animation-duration: 15s;
    // animation-iteration-count: infinite;
    // li {
    //     line-height: 40px;
    //     margin: 0;
    // }
    // }

    // @keyframes opacity {
    // 0%,
    // 100% {
    //     opacity: 0;
    // }
    // 50% {
    //     opacity: 1;
    // }
    // }

    // @keyframes change {
    // 0%,
    // 12%,
    // 100% {
    //     transform: translateY(0);
    // }
    // 17%,
    // 29% {
    //     transform: translateY(-25%);
    // }
    // 34%,
    // 46% {
    //     transform: translateY(-50%);
    // }
    // 51%,
    // 63% {
    //     transform: translateY(-75%);
    // }
    // 68%,
    // 80% {
    //     transform: translateY(-50%);
    // }
    // 85%,
    // 97% {
    //     transform: translateY(-25%);
    // }
    // }


    //Heading Animation

    .header-animation{
        position: relative;
        width: 100%;
        margin: auto;
        perspective: 800px;
        z-index: 1;
        font-family: latobold;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
    }

    .typing-container{
        position:absolute;
        top:5rem;
    }

    .element, .element2 {
        display: inline-block;
        color: #fff;
        font-size: 10vw;
        transform-origin: 50% 70%;
        text-align:center;
        @include main-text-shadow;
        font-family:'latoblack'
    }

    .element2{
        display: flex;
        justify-content: center;
        color:$main__color;
        opacity:0;
        animation:fade-header 2s linear 4s;
        animation-fill-mode:forwards;
    }

    @keyframes fade-header{
        from{
            opacity:0;
        }
        to{
            opacity:1;
        }
    }


//Work Section

    .work-section{
        z-index: 100;
        position: relative;
        text-align: center;
        position:relative;
        height:auto;
        // background:linear-gradient( to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100% ), url('../../images/coffee-background.jpg')no-repeat;
        // background-size:cover, contain;
        background-color: #2D3C40;
    }


    .section-header{
        font-family:'latoblack';
        font-size: 3rem;
        margin-top: 0;
        color: #fff;
        letter-spacing:2px;
        text-align:center;
        position:relative;
        text-shadow: -2px 0px 4px #000;
        margin-bottom: 0;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
    }

    .fadein{
        opacity:0;
    }

    .header-bar{
        width: 200px;
        height: 20px;
        background-color: $main__color;
        position: absolute;
        top: 50%;
        opacity: 0.6;
        left: 3vw;
        z-index: -10;
    }

    //Project Slider


    .project-title{
        text-transform: uppercase;
        width: 80%;
        position: absolute;
        top: 55%;
        font-family: abril;
        color: #fdcd3b;
        z-index: 100;
        left: 2px;
        transition: background-color .4s linear;
        font-size: 2rem;
        text-shadow: 0 0 1px #fff;
        letter-spacing: 2px;
        text-align: left;
        padding-left: 0.5rem;
    }

    .project-image{
        height: 212px;
        position:relative;
        img{
            height:100%;
        }
    }

    .project-gradient{
        background: linear-gradient( to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.5) 100% );
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 100;
    }


    .project-list{ 
        overflow-y: hidden;
        margin-bottom:3rem;
            li{
                position:relative;
            }
    }

    .project-item{
        cursor:pointer;
    }

    .project-item:hover{
        .project-hover{
            height:100%;
        }
        .project-title{
            background-color:#fff;
            left:2px;
        }
    }

    .project-hover{
        position: absolute;
        bottom: 0;
        background-color: rgba(0,0,0,0.8);
        height: 0;
        transition: height 0.4s ease-in-out;
        width:100%;
        padding:0 1rem;
    }

    //About Section

    .about-section, .expertise-section{
        position:relative;
        height:auto;
        margin-top:3rem;
    }

    .project-content{
        color:#fff;
        font-family:montserrat_alternatesXLt;
    }
        
    .about-background{
        background:url("../../images/responsive-background.jpg")no-repeat;
        background-size:contain;
        width:100vw;
        height:auto;
        position:relative;
        z-index: -2;
    }

    .text-gradient{
        background-color: #000;
        width: 95vw;
        height: 105%;
        opacity: .7;
        position: absolute;
        top: 4rem;
        max-height: 555px;
        z-index:-1;
    }

    .about-text{
        position: relative;
        top: 4rem;
        margin-left: 1rem;
        width:87vw;
        color:#fff;
        font-family:montserratextralight;
        padding: 1rem 0;
    }

    //Expertise Section

    .expertise-header{
        margin-top: 5rem;
    }

    .logo-container{
        display:flex;
        flex-direction:column;
        align-items:center;
        i{
            color:#fdcd3b;
            font-size:4rem;
        }
        h2{
            margin-top:0;
            text-transform:uppercase;
            font-family:'latobold';
        }
    }

    .portfolio-button{
        text-decoration: none;
        text-transform: uppercase;
        border: 2px solid #fff;
        padding: 0.5rem 2rem;
        z-index:100;
        position: relative;
        bottom: 1.5rem;
        color:$main__color;
        font-family:'latobold';
        transition:all 0.5s ease-in-out;
            &:hover{
                border-radius:25px;
                background-color:#fff;
                border:2px solid $main__color;
                color:#000;

            }
    }

    

}//Home Wrapper