*{
    font-family:'Open Sans';
}

.site-title{
    display:none;
}


.element, .element2{
    font-family:'Open Sans';
    font-weight:800;
}

.element{
    height:107px;
}

.element2{
    line-height:100%;
    height:89px;
}

.typing-container{
    height:100vh;
    display:flex;
    flex-direction: column;
    padding-top:4%;
    position:relative;
}

.line-container{    
    width: 100%;
    display: flex;
    justify-content: center;

}
.line{
    width: 1px;
    height: 0px;
    background: #fff;
    position: absolute;
    bottom: top;
    bottom: 100px;
    animation: move 1.4s cubic-bezier(0.075, 0.82, 0.165, 2) infinite alternate;
}

@keyframes move{
    0%{
        height:0px;
        background: #fff;
    }
    100%{
        height:80px;
        background: #fff;
    }
}

.code{
    background:#003C78;
    font-weight:800;
    letter-spacing:1px;
    color:#fff;
    height:80px;
    width:50%;
    max-width:800px;
    margin:0 auto;
    font-family:'Open Sans';
    display:flex;
    justify-content: center;
    border-radius:15px;
    align-items: center;
    font-size:49px;
    margin-top:125px;
}

.intro-container{
    color: #fff;
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
    text-align: left;
}

.second-container{
        max-width: 1200px;
}

.first-p,.second-p{
    background: #fff;
    color: #f58427;
    font-family: Open Sans;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 22px;
    font-weight: 700;
}

.third-p{
    background:#003C78;
    color:#fff;
    border-radius: 20px;
    font-size: 30px;
    font-family: "Open Sans";
    text-transform:uppercase;
    text-align:center;
}

.bold{
    font-weight:700;
}

.want{
    font-size:40px;
    color:#fff;
    font-weight:700;
    text-align:left;
}

.letter{
    transform: rotate(-20deg);
    display: inline-block /* background: red; */;
    letter-spacing: 10px;
}

.btn-para{
   border-radius:20px;
   font-family:"Open Sans";
   font-weight:700;
   padding:20px;
   font-size:20px;
   color:#f58427;
}

.btn{
    text-decoration: none;
    background: #fff;
    height: 16vw;
    width: 43vw;
    display: inline-block;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase;
    border-radius: 22px;
    color:#f58427;
    font-weight:700;
    margin-top: 100px;
    font-size: 40px;
    box-shadow: -1px 10px 0px #e9e9e9;
    transition:all 0.3s ease-in;
        &:hover{
            transform:translateY(-20px);
        }
}
.btn-wrapper{
    width:100%;
    text-align:center;
}

.second-wrapper{
    margin-top:40px;
}

.end-text{
    text-align: center;
    width: 100%;
    font-family: Open Sans;
    margin-top: 100px;
    font-weight: 700;
    font-size: 40px;

}

#step-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    li{
        flex-basis: 49.5%;
        background: #fff;
        border-radius: 20px;
        height: 130px;
        font-family: Open Sans;
        font-weight: 700;
        color: #f58427;
        text-align: center;
        margin-top: 80px;
        position:relative;
        padding-top: 16px;
            span{
                font-size: 40px;
                position: absolute;
                left: 0;
                top: -70px;
                color: #fff;
            }
    }

    .orange-link{
        color:#f58427;
        font-size:25px;
    }


}