.post-type-archive-projects{

    .white-logo{
        margin:0;
        margin-top:20px
    }

    .gallery-hero{
        background:linear-gradient( to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100% ),
        url('../../images/gallery-hero.jpg')no-repeat center;
        background-size:cover, cover;
        height:100vh;
        width:100vw;
        margin-bottom:1.5rem;
    }

    .gallery-header{
        margin:0;
        text-align:center;
        color:$accent__color;
        padding-top:0;
        font-family: 'latobold',sans-serif;
        text-transform:uppercase;
        font-size: 3rem;
        font-weight: 200;
        text-shadow: 0.025em 0.025em 0.025em rgba(0, 0, 0, 0.8);
        visibility: hidden;
            @include desktop{
                 font-size: 7vw;
            }
    }

    .gallery-paragraph{ 
        color: #fff;
        font-size: 1.3rem;
        padding: 0 1rem;
        text-align: center;
        font-family:'latomedium_italic', sans-serif;
            @include desktop{
                font-size: 4vw;
                padding: 0 1rem;
                text-align: center;
                max-width: 72vw;
                margin: 0 auto;
                padding-top: 3vh;
            }
    }

    .project-title{
        font-family:'latobold', sans-serif;
        color: #fff;
        font-size: 8vw;
        text-align: center;
        border-bottom: 2px solid #fdcd3b;
        width: 19rem;
        margin: 0 auto;
        padding-bottom: 0.5rem;
            @include desktop{
                font-size:3vw;
            }
    }

    .archive-project-item{
        @include desktop{
            width:45vw;
        }
        p{
            word-break:break-all;
            padding:1rem;
            color: #fff;
            letter-spacing: 2px;
            font-family:'montserratlight', sans-serif;
            text-align:center;
                @include desktop{
                    word-break:initial;
                }
        }
    }

    .archive-project-item{
        @include desktop{
            img{
                border: 4px solid #fff;
                height: 30vw;
                transition:all 0.4s ease-in-out;
                    &:hover{
                        transform:translateY(-20px);
                        border:4px solid $accent__color;
                    }
            }
        }
    }
    
    .archive-project-link{
        @include main-button;
        font-family:montserratmedium;
        margin-bottom:1.5rem;
    }

    .project-list{
        @include desktop{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 2rem;
        }
    }

    .white-logo{
        margin:0;
    }

}//Projects Wrapper