.main-button-container {
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #292929;
    background-size: cover,cover;
    border-top: 2px solid #fff;

    @include desktop {
        height: 8rem;
    }
}

.menu-section {
    position: fixed;
    bottom: 0;
    left: 10px;
}

.fixed-header {

    ul {
        width: 100vw;
        display: -ms-flexbox;
        display: flex;
        transition:all 1s linear;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -ms-flex-align: center;
        align-items: center;
        font-size: 0.8rem;
        font-family: 'latoblack', sans-serif;
        border-bottom: 2px ridged $accent__color;
        background: hsla(0,0%,100%,.8);
        height:0%;

        a {
            color:#000;
            text-decoration: none;
            transition: all .5s ease-in-out;
            text-transform:uppercase;
            &:hover {
                border-bottom-width: 20px;
                padding: 5px;
                letter-spacing: 10px;
                font-size: 1.5rem;
            }
        }
    }
}

.fixed-header-container {
    position: fixed;
    z-index: 5000;
    background: rgba(255, 255, 255,0.7);
    top:0;
    height:'80px';
}

.fixed-header-logo{
    width:50px;
    height:50px;
        @include desktop{
            width:65px;
            height:65px;
            margin-top:6px;
        }
}

.white-logo{
    width: 85px;
    height:85px;
    margin: 10px 0 0 10px;
    border-radius: 6px;
    transition:all 0.3s linear;
        @include desktop{
            width:105px;
            height:105px;
            margin:30px 0 0 30px;
                &:active{
                    transform:translateY(-20px);
                }
        }

}

.white-logo-container{
    width:100vw;
    display:flex;
    justify-content:center;
}

//    .white-logo{
//         margin:0;
//     }

    .white-logo-container{
        flex-direction: column;
        align-items: center;
        text-decoration:none;
            p{
                margin:0;
                font-family:'montserratmedium';
                text-transform:uppercase;
                text-decoration:none;
                color:$accent__color;
            }
    }

