.main-button-container{
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#292929;
    background-size:cover,cover;
    border-top:2px solid #fff;
        @include desktop{
            height:8rem;
        }
}