.main-button-container{
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient( to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.7) 100% ),
    url('../../images/tech-background.jpg')no-repeat center;
    background-size:cover,cover;
    border-top:2px solid #fff;
}