// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin main-text-shadow{
	text-shadow:0px 0px 3px #205def;
}

@mixin main-box-shadow{
	box-shadow:0px 0px 3px #205def;
}

 @mixin main-button{
        text-decoration: none;
        text-transform: uppercase;
        border: 2px solid #fff;
        padding: 0.5rem 2rem;
        z-index:100;
        position: relative;
        color:#fff;
        font-family:'latobold';
        transition:all 0.3s linear;
        width:17rem;
        display:flex;   
        justify-content:center;
        margin:0 auto;
          &:hover{
                border-radius:25px;
                color:$accent__color;
                width: 18rem;
                letter-spacing:2px;
                border:2px solid $accent__color;

            }
    }

@mixin desktop {
    @media (min-width: $desktop_breakpoint) {
	    @content;
    }
}



