/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

//Navigation

$bar-width: 50px;
$bar-height: 5px;
$bar-spacing: 13px;

.nav-list{
	  margin-left: 3%;
    height: 10rem;
    width: 67%;
    text-transform: uppercase;
    background: rgba(152, 174, 225, 0.3);
    padding-left: 0;
    position: absolute;
    top: 15rem;
    z-index: 4;
    list-style: none;
		display:none;
		li{
				border-bottom: 2px solid #fff;
				width: 80%;
				font-family: latoheavy;
				color: #161515;
				margin-left:20px;
				margin-top:10px;
			}
}

.hamburger-menu {
  width: 50px;
  height: 59px;
  cursor: pointer;
}

.bar,
.bar:after,
.bar:before {
  width: $bar-width;
	height: $bar-height;
}

.bar {
	position: relative;
	transform: translateY($bar-spacing);
	background: #000;
	transition: all 0ms 300ms;
  
  &.animate {
    background: rgba(255, 255, 255, 0); 
  }
}

.menu-wrapper{
	display: flex;
    position: absolute;
    top: 12rem;
    z-index: 201;
    left: 10%;
	width: 200px;
    align-items: center;
	animation: fademenu 1.5s ease-in 1s;
    animation-fill-mode: forwards;
}

 @keyframes fademenu{
        from{
            opacity:0;
        }
        to{
            opacity:1;
        }
    }

.menu-container{
	p{
		margin-left: 20px;
    font-size: 2rem;
    text-transform: uppercase;
		margin-top: 0;
		font-family:'latomedium';
	}
}

.bar:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: $bar-spacing;
	background: #000;
	transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar:after {
	content: "";
	position: absolute;
	left: 0;
	top: $bar-spacing;
	background: #000;
	transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:after {
	top: 0;
	transform: rotate(45deg);
	transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}

.bar.animate:before {
	bottom: 0;
	transform: rotate(-45deg);
	transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}
